// 字体主题色
$primary-font:#2f2f2f;
$sup-font:#929292;
$info-font:#ccc;
$pink: #F2A0B9;
$border: 2rpx solid $info-font;
// 字体大小
$font-size-l:36rpx;
$font-size-m:32rpx;
$font-size-s:28rpx;
$font-size-xs:24rpx;