@import './base.scss';
@import './mixin.scss';
.page {
  padding: 20rpx;
}
.textarea {
  width: 100%;
  border: $border;
  border-radius: 6rpx;
  padding: 20rpx;
  box-sizing: border-box;
}
input {
  border: $border;
}
.title {
  font-size: $font-size-m;
  color: $primary-font;
  line-height: 48rpx;
}
.price {
  font-size: $font-size-s;
  color: $pink;
  line-height: 42rpx;
}